[submodule "git # submodule"]
	path = "git # submodule"
	url = git@github.com:cancerhermit/git.submodule.git
[submodule "github.com # submodule"]
	path = "github.com # submodule"
	url = git@github.com:cancerhermit/github.submodule.git
